flows.json
[{"id":"df6f6c46.0f5b2","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"2447affc.0fa45","type":"tab","label":"sites","disabled":false,"info":""},{"id":"f872f567.0933c8","type":"tab","label":"layers","disabled":false,"info":""},{"id":"b802bc0a.4c4e6","type":"tab","label":"orders","disabled":false,"info":""},{"id":"3bbde011.0d963","type":"tab","label":"data","disabled":false,"info":""},{"id":"828e2129.c947f","type":"tab","label":"POIs","disabled":false,"info":""},{"id":"3a4939f.4fad3c6","type":"tab","label":"series","disabled":false,"info":""},{"id":"9fe92487.a3c628","type":"tab","label":"algoritms","disabled":false,"info":""},{"id":"ba10cf7f.cc079","type":"tab","label":"apps","disabled":false,"info":""},{"id":"19760cdb.bda9b3","type":"tab","label":"runtime","disabled":false,"info":""},{"id":"aab4b0a5.d7ba7","type":"tab","label":"devices","disabled":false,"info":""},{"id":"d91c19cd.01a2c8","type":"mongodb3","z":"","uri":"Must be imported from settings.js","name":"indoor","options":"","parallelism":"-1"},{"id":"14b06014.5d4f9","type":"http in","z":"df6f6c46.0f5b2","name":"teste","url":"/teste","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["18ae4a6d.dc2b46","111d7d4b.89bf23"]]},{"id":"111d7d4b.89bf23","type":"function","z":"df6f6c46.0f5b2","name":"","func":"if (msg.payload.index)\nmsg.payload.index = parseInt(msg.payload.index);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["fe4a3fcf.83a32","e9ce8789.2771c8"]]},{"id":"4fbe33f9.a54a4c","type":"http response","z":"df6f6c46.0f5b2","name":"","statusCode":"","headers":{},"x":750,"y":120,"wires":[]},{"id":"18ae4a6d.dc2b46","type":"debug","z":"df6f6c46.0f5b2","name":"test get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":80,"wires":[]},{"id":"9fea48c3.94f028","type":"debug","z":"df6f6c46.0f5b2","name":"MongoDB3_out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":80,"wires":[]},{"id":"e9ce8789.2771c8","type":"debug","z":"df6f6c46.0f5b2","name":"MongoDB_in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"fe4a3fcf.83a32","type":"mongodb3 in","z":"df6f6c46.0f5b2","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"API_TEST","operation":"find.toArray","x":530,"y":120,"wires":[["9fea48c3.94f028","4fbe33f9.a54a4c"]]},{"id":"d8d60e6f.3204a","type":"catch","z":"df6f6c46.0f5b2","name":"","scope":null,"uncaught":false,"x":120,"y":180,"wires":[["9b8b0cd8.a9aad"]]},{"id":"9b8b0cd8.a9aad","type":"debug","z":"df6f6c46.0f5b2","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":180,"wires":[]},{"id":"7cd77fba.8187","type":"http in","z":"2447affc.0fa45","name":"","url":"/sites","method":"post","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["bb15f54f.9af8e8","45128b9c.7bcc34"]]},{"id":"50c0b190.c3637","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"400","headers":{},"x":520,"y":160,"wires":[]},{"id":"450fb91c.640868","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_sites","operation":"find.toArray","x":510,"y":100,"wires":[["c6543480.bc0a68","c5e0ac4c.38471"]]},{"id":"45128b9c.7bcc34","type":"function","z":"2447affc.0fa45","name":"Save_params","func":"msg.postedData = msg.payload;\nmsg.payload = {name:msg.payload.name};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["450fb91c.640868","9631e266.64645"]]},{"id":"9631e266.64645","type":"debug","z":"2447affc.0fa45","name":"In MongoDB (post)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":60,"wires":[]},{"id":"c6543480.bc0a68","type":"function","z":"2447affc.0fa45","name":"Check if site exists","func":"msg.siteExists= msg.payload[\"0\"]?true:false;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["650ac55b.7caddc","3e5e8714.b06688"]]},{"id":"650ac55b.7caddc","type":"switch","z":"2447affc.0fa45","name":"siteExists?","property":"siteExists","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":160,"wires":[["5ad4fc4f.ec7824"],["37a4d68f.1a896a"]]},{"id":"5ad4fc4f.ec7824","type":"function","z":"2447affc.0fa45","name":"Deny creation","func":"msg.payload={\n    status:400,\n    msg:\"Site_Already_exists, check for site update or delete\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["50c0b190.c3637"]]},{"id":"37a4d68f.1a896a","type":"function","z":"2447affc.0fa45","name":"Make creation","func":"msg.payload=msg.postedData;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["3610182d.3c3748"]]},{"id":"9aaa09b0.155c78","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_sites","operation":"insertOne","x":830,"y":200,"wires":[["7cba8a19.af3f64"]]},{"id":"7cba8a19.af3f64","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"200","headers":{},"x":1020,"y":200,"wires":[]},{"id":"c5e0ac4c.38471","type":"debug","z":"2447affc.0fa45","name":"out MongoDB  (post)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":60,"wires":[]},{"id":"3e5e8714.b06688","type":"debug","z":"2447affc.0fa45","name":"AfterCheck (post)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":100,"wires":[]},{"id":"249813f0.cc737c","type":"http in","z":"2447affc.0fa45","name":"","url":"sites","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["a229b323.e4e39","56049ffc.e848b"]]},{"id":"1bb0a5cb.0dd6ca","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_sites","operation":"find.toArray","x":490,"y":340,"wires":[["81c64369.f68d8","5226adfa.73fcf4"]]},{"id":"81c64369.f68d8","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"200","headers":{},"x":700,"y":340,"wires":[]},{"id":"59d50914.75b6b8","type":"comment","z":"2447affc.0fa45","name":"POST","info":"Create New Site","x":110,"y":40,"wires":[]},{"id":"7c9a7264.1724bc","type":"comment","z":"2447affc.0fa45","name":"GET","info":"Get list of all sites","x":110,"y":280,"wires":[]},{"id":"abd2c615.9c0bd8","type":"http in","z":"2447affc.0fa45","name":"","url":"/sites/:site_id","method":"put","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["6e51ce4a.33d7c","2a8ae972.10d346"]]},{"id":"5dc6a65b.b00cf8","type":"function","z":"2447affc.0fa45","name":"Short Response","func":"msg.payload={\n    status:200,\n    msg:\"Site_updated\",\n    dbResponse:msg.payload\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1080,"y":480,"wires":[["1aefe6ae.d6d9e9"]]},{"id":"1aefe6ae.d6d9e9","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"200","headers":{},"x":1280,"y":480,"wires":[]},{"id":"2d3dbeb2.295332","type":"function","z":"2447affc.0fa45","name":"Make update","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload=[\n    {\"_id\":ObjectId(msg.req.params.site_id)},\n    msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":480,"wires":[["971c02d6.9c585","17bdf551.b69d9b"]]},{"id":"971c02d6.9c585","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_sites","operation":"findOneAndReplace","x":820,"y":480,"wires":[["6350682b.b2c028","5dc6a65b.b00cf8"]]},{"id":"5226adfa.73fcf4","type":"debug","z":"2447affc.0fa45","name":"out MongoDB  (get)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":300,"wires":[]},{"id":"6350682b.b2c028","type":"debug","z":"2447affc.0fa45","name":"out MongoDB  update (PUT)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":440,"wires":[]},{"id":"3646fe63.ae0c82","type":"http in","z":"ba10cf7f.cc079","name":"","url":"sites/:site_id/apps","method":"post","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["e5da0b15.b22e18","e699671d.f1bb08"]]},{"id":"5fc25c3c.4e1c74","type":"http in","z":"ba10cf7f.cc079","name":"","url":"sites/:site_id/apps","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["6a08a594.6fd34c","b0db30cb.bae7d"]]},{"id":"ffe33854.2646a8","type":"mongodb3 in","z":"ba10cf7f.cc079","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_apps","operation":"find.toArray","x":570,"y":360,"wires":[["d6e8f8ed.bcb058","72acef61.7dfe3"]]},{"id":"d6e8f8ed.bcb058","type":"http response","z":"ba10cf7f.cc079","name":"","statusCode":"200","headers":{},"x":800,"y":360,"wires":[]},{"id":"5c9e2655.21d058","type":"http in","z":"ba10cf7f.cc079","name":"","url":"sites/:site_id/apps/:app_id","method":"put","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["51e9d01.345ce3","8a64be12.8c2f3"]]},{"id":"ec0bb5d4.af7ea8","type":"http response","z":"ba10cf7f.cc079","name":"","statusCode":"200","headers":{},"x":1200,"y":480,"wires":[]},{"id":"19f2d5f6.0188ca","type":"function","z":"ba10cf7f.cc079","name":"Make update","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\nmsg.payload.train_set = ObjectId(msg.payload.train_set);\nmsg.payload.test_set = ObjectId(msg.payload.test_set);\nmsg.payload.algoritm_id = ObjectId(msg.payload.algoritm_id);\nmsg.payload._id = ObjectId(msg.payload._id);\n\nmsg.payload=[\n    {\"_id\":msg.payload._id},\n    msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["db260e5d.e302f"]]},{"id":"db260e5d.e302f","type":"mongodb3 in","z":"ba10cf7f.cc079","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_apps","operation":"findOneAndReplace","x":940,"y":480,"wires":[["9f2cc8bd.c90148","ec0bb5d4.af7ea8"]]},{"id":"72acef61.7dfe3","type":"debug","z":"ba10cf7f.cc079","name":"out MongoDB  (get)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":320,"wires":[]},{"id":"9f2cc8bd.c90148","type":"debug","z":"ba10cf7f.cc079","name":"out MongoDB  update (PUT)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":440,"wires":[]},{"id":"bec2ca2.e3fe938","type":"comment","z":"2447affc.0fa45","name":"PUT","info":"Update site information such as blueprint","x":110,"y":420,"wires":[]},{"id":"cdbccdf1.80e5","type":"comment","z":"ba10cf7f.cc079","name":"get app","info":"","x":70,"y":320,"wires":[]},{"id":"1f9e2816.98d9a8","type":"comment","z":"ba10cf7f.cc079","name":"create app","info":"","x":80,"y":120,"wires":[]},{"id":"dcbf1139.31bb","type":"comment","z":"ba10cf7f.cc079","name":"Update","info":"","x":70,"y":440,"wires":[]},{"id":"6e51ce4a.33d7c","type":"debug","z":"2447affc.0fa45","name":"sites PUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":440,"wires":[]},{"id":"a229b323.e4e39","type":"debug","z":"2447affc.0fa45","name":"sites GET","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":300,"wires":[]},{"id":"bb15f54f.9af8e8","type":"debug","z":"2447affc.0fa45","name":"sites POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":60,"wires":[]},{"id":"51e9d01.345ce3","type":"debug","z":"ba10cf7f.cc079","name":"apps PUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":440,"wires":[]},{"id":"6a08a594.6fd34c","type":"debug","z":"ba10cf7f.cc079","name":"apps GET","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":320,"wires":[]},{"id":"e5da0b15.b22e18","type":"debug","z":"ba10cf7f.cc079","name":"apps POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":120,"wires":[]},{"id":"992abb96.456b28","type":"http in","z":"2447affc.0fa45","name":"","url":"/sites/:site_id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":620,"wires":[["7e40e335.7aed3c","8508e146.2614d"]]},{"id":"d010af40.fd566","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"200","headers":{},"x":720,"y":580,"wires":[]},{"id":"7e40e335.7aed3c","type":"debug","z":"2447affc.0fa45","name":"Get site by id","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":580,"wires":[]},{"id":"2728ea37.c509a6","type":"comment","z":"2447affc.0fa45","name":"GET","info":"Get site by id","x":110,"y":560,"wires":[]},{"id":"56049ffc.e848b","type":"function","z":"2447affc.0fa45","name":"clear params","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["1bb0a5cb.0dd6ca"]]},{"id":"e9187469.69bbe8","type":"debug","z":"2447affc.0fa45","name":"objectid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":620,"wires":[]},{"id":"8508e146.2614d","type":"function","z":"2447affc.0fa45","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.site_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["9634b63a.af1eb8","b954830f.a3df8"]]},{"id":"9634b63a.af1eb8","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get by id","collection":"_sites","operation":"findOne","x":560,"y":620,"wires":[["e9187469.69bbe8","d010af40.fd566"]]},{"id":"b954830f.a3df8","type":"debug","z":"2447affc.0fa45","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":580,"wires":[]},{"id":"f727666c.8617e8","type":"http in","z":"3a4939f.4fad3c6","name":"","url":"/sites/:site_id/series","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["bfa52316.bc358","de051f5c.fb385"]]},{"id":"bfa52316.bc358","type":"function","z":"3a4939f.4fad3c6","name":"get site_id","func":"msg.postedData = msg.payload;\n\nmsg.payload.site_id = msg.req.params.site_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["293675ea.0fde9a"]]},{"id":"26ca3a5f.158b26","type":"comment","z":"3a4939f.4fad3c6","name":"POST","info":"Create New Site","x":90,"y":60,"wires":[]},{"id":"b67b06a4.daa3f8","type":"comment","z":"3a4939f.4fad3c6","name":"GET","info":"Get list of all sites","x":90,"y":480,"wires":[]},{"id":"59bfa4c1.af17ec","type":"debug","z":"3a4939f.4fad3c6","name":"series GET","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":580,"wires":[]},{"id":"fd9444e8.b3cad8","type":"http in","z":"3a4939f.4fad3c6","name":"","url":"/series/:serie_id","method":"get","upload":false,"swaggerDoc":"","x":130,"y":720,"wires":[["90b989a3.a6c978","e93327c6.451988"]]},{"id":"90b989a3.a6c978","type":"debug","z":"3a4939f.4fad3c6","name":"Get series by id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":680,"wires":[]},{"id":"8dc49d44.0898c","type":"comment","z":"3a4939f.4fad3c6","name":"GET","info":"Get site by id","x":90,"y":660,"wires":[]},{"id":"e93327c6.451988","type":"function","z":"3a4939f.4fad3c6","name":"parse serie_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.serie_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":720,"wires":[["f1cc592a.ce9518"]]},{"id":"f1cc592a.ce9518","type":"mongodb3 in","z":"3a4939f.4fad3c6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_series","operation":"find.toArray","x":610,"y":720,"wires":[["e993fab6.f63d98","784aaac0.b1bfe4"]]},{"id":"e993fab6.f63d98","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"200","headers":{},"x":820,"y":720,"wires":[]},{"id":"784aaac0.b1bfe4","type":"debug","z":"3a4939f.4fad3c6","name":"out MongoDB  (get)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":680,"wires":[]},{"id":"b9e9aae5.dc0198","type":"catch","z":"3a4939f.4fad3c6","name":"","scope":null,"uncaught":false,"x":100,"y":940,"wires":[["a70a12c0.e6e1f"]]},{"id":"f25d59b9.533418","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"417","headers":{},"x":660,"y":940,"wires":[]},{"id":"a70a12c0.e6e1f","type":"function","z":"3a4939f.4fad3c6","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":940,"wires":[["68dd56da.065058","8831b049.05061"]]},{"id":"68dd56da.065058","type":"switch","z":"3a4939f.4fad3c6","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":940,"wires":[["f25d59b9.533418"]]},{"id":"8831b049.05061","type":"debug","z":"3a4939f.4fad3c6","name":"series_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":900,"wires":[]},{"id":"3610182d.3c3748","type":"json-schema-validator","z":"2447affc.0fa45","name":"validate site creation","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"name\", \"description\"]\n}","x":560,"y":200,"wires":[["9aaa09b0.155c78"]]},{"id":"89146345.17e1b","type":"catch","z":"2447affc.0fa45","name":"","scope":null,"uncaught":false,"x":120,"y":900,"wires":[["60b1770c.af8758"]]},{"id":"6fad7b61.a0f3e4","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"417","headers":{},"x":680,"y":900,"wires":[]},{"id":"60b1770c.af8758","type":"function","z":"2447affc.0fa45","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":900,"wires":[["8aaed70b.db0b08","67ec5d9.bba31a4"]]},{"id":"8aaed70b.db0b08","type":"switch","z":"2447affc.0fa45","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":900,"wires":[["6fad7b61.a0f3e4"]]},{"id":"67ec5d9.bba31a4","type":"debug","z":"2447affc.0fa45","name":"sites_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":860,"wires":[]},{"id":"2a8ae972.10d346","type":"json-schema-validator","z":"2447affc.0fa45","name":"validate site update","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t}\n\t},\n  \"required\": [\"name\"]\n}","x":370,"y":480,"wires":[["2d3dbeb2.295332"]]},{"id":"3d97b34b.1dea2c","type":"catch","z":"19760cdb.bda9b3","name":"","scope":null,"uncaught":false,"x":100,"y":780,"wires":[["e1ccf7a6.1035e8"]]},{"id":"ea25c02.275ab4","type":"http response","z":"19760cdb.bda9b3","name":"","statusCode":"417","headers":{},"x":660,"y":780,"wires":[]},{"id":"e1ccf7a6.1035e8","type":"function","z":"19760cdb.bda9b3","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[["58cf7d6.becaf84","d8ca9279.3cf5c"]]},{"id":"58cf7d6.becaf84","type":"switch","z":"19760cdb.bda9b3","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":780,"wires":[["ea25c02.275ab4"]]},{"id":"d8ca9279.3cf5c","type":"debug","z":"19760cdb.bda9b3","name":"series_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":740,"wires":[]},{"id":"b7a3dd40.a3929","type":"mongodb3 in","z":"ba10cf7f.cc079","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_apps","operation":"insertOne","x":890,"y":160,"wires":[["9c395077.49443"]]},{"id":"57682e8f.9d0d9","type":"catch","z":"ba10cf7f.cc079","name":"","scope":null,"uncaught":false,"x":100,"y":760,"wires":[["c720588c.5463a8"]]},{"id":"d645f4a5.bc82f8","type":"http response","z":"ba10cf7f.cc079","name":"","statusCode":"417","headers":{},"x":660,"y":760,"wires":[]},{"id":"c720588c.5463a8","type":"function","z":"ba10cf7f.cc079","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["a3422364.abcd7","6dcd7020.f9f3c"]]},{"id":"a3422364.abcd7","type":"switch","z":"ba10cf7f.cc079","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":760,"wires":[["d645f4a5.bc82f8"]]},{"id":"6dcd7020.f9f3c","type":"debug","z":"ba10cf7f.cc079","name":"apps_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":720,"wires":[]},{"id":"fa4ae5c9.ef1238","type":"json-schema-validator","z":"ba10cf7f.cc079","name":"validate app","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"train_set\": {\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"test_set\": {\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"devices\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"contains\": {\n\t\t\t    \"type\":\"string\",\n    \t\t    \"minLength\": 24,\n    \t\t    \"maxLength\": 24\n\t\t\t}\n\t\t},\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"algoritm_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t}\n\t},\n  \"required\": [\"site_id\", \"name\", \"test_set\",\"train_set\",\"algoritm_id\"]\n}","x":510,"y":160,"wires":[["81463de0.f78ed"]]},{"id":"9c395077.49443","type":"http response","z":"ba10cf7f.cc079","name":"","statusCode":"200","headers":{},"x":1080,"y":160,"wires":[]},{"id":"b0db30cb.bae7d","type":"function","z":"ba10cf7f.cc079","name":"Save_params","func":"var ObjectId = global.get('ObjectId');\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.site_id)};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["ffe33854.2646a8"]]},{"id":"8a64be12.8c2f3","type":"function","z":"ba10cf7f.cc079","name":"take params","func":"msg.payload.site_id= msg.req.params.site_id;\nmsg.payload._id= msg.req.params.app_id;\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["cd7eb700.a05008"]]},{"id":"418d09e.f1ee7f8","type":"http in","z":"19760cdb.bda9b3","name":"","url":"runtimes/:app_id","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["a4b42752.e79898","6d968025.989a5"]]},{"id":"9ead756.3afcc88","type":"mongodb3 in","z":"19760cdb.bda9b3","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_apps","operation":"findOne","x":580,"y":100,"wires":[["74afd7b4.6e3288","3fce47f5.63f938"]]},{"id":"a4b42752.e79898","type":"function","z":"19760cdb.bda9b3","name":"Save_params","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.app_id = msg.req.params.app_id;\nmsg.postedData = msg.payload;\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.app_id)};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["9ead756.3afcc88"]]},{"id":"74afd7b4.6e3288","type":"function","z":"19760cdb.bda9b3","name":"Check if app exists","func":"\nmsg.Exists= msg.payload._id?true:false;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["4b4d0937.61d678","c11884ad.fe83f8"]]},{"id":"4b4d0937.61d678","type":"switch","z":"19760cdb.bda9b3","name":"Exists?","property":"Exists","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":960,"y":100,"wires":[["bac8190a.9ae8b8"],["c3461665.c3b748"]]},{"id":"bac8190a.9ae8b8","type":"function","z":"19760cdb.bda9b3","name":"Deny creation","func":"msg.payload={\n    status:400,\n    msg:\"App_do_not_exist\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":80,"wires":[["351f8198.5d5b9e"]]},{"id":"c3461665.c3b748","type":"function","z":"19760cdb.bda9b3","name":"Make creation","func":"msg.payload=msg.postedData;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["40571e1.00182e"]]},{"id":"bc53b18b.feb07","type":"comment","z":"19760cdb.bda9b3","name":"create","info":"","x":90,"y":60,"wires":[]},{"id":"6d968025.989a5","type":"debug","z":"19760cdb.bda9b3","name":"apps POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":60,"wires":[]},{"id":"a80946f3.f035f8","type":"mongodb3 in","z":"19760cdb.bda9b3","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_runtimes","operation":"insertOne","x":720,"y":160,"wires":[["8e200b7e.e7a6f8"]]},{"id":"3fce47f5.63f938","type":"debug","z":"19760cdb.bda9b3","name":"Index Return","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":60,"wires":[]},{"id":"c11884ad.fe83f8","type":"debug","z":"19760cdb.bda9b3","name":"analysed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":60,"wires":[]},{"id":"351f8198.5d5b9e","type":"http response","z":"19760cdb.bda9b3","name":"","statusCode":"400","headers":{},"x":1320,"y":80,"wires":[]},{"id":"40571e1.00182e","type":"json-schema-validator","z":"19760cdb.bda9b3","name":"validate runtime","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"devices\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"contains\": {\n\t\t\t    \"type\":\"string\",\n\t\t\t    \"enum\": [\"wifi-rssi\",\"wifi-rtt\",\"ble\",\"magnetic\"]\n\t\t\t}\n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"algoritm_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"app_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t}\n\t},\n  \"required\": [\"app_id\", \"algoritm_id\", \"name\"]\n}","x":340,"y":160,"wires":[["ae133848.bdfc88"]]},{"id":"8e200b7e.e7a6f8","type":"http response","z":"19760cdb.bda9b3","name":"","statusCode":"200","headers":{},"x":920,"y":160,"wires":[]},{"id":"ae133848.bdfc88","type":"function","z":"19760cdb.bda9b3","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["a80946f3.f035f8"]]},{"id":"8b825882.512938","type":"http in","z":"9fe92487.a3c628","name":"","url":"algoritms","method":"post","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["74694c47.e2d594","b28d6c8a.e6cc3"]]},{"id":"19547697.3470a9","type":"comment","z":"9fe92487.a3c628","name":"create","info":"","x":70,"y":80,"wires":[]},{"id":"33556247.64affe","type":"mongodb3 in","z":"9fe92487.a3c628","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_algoritms","operation":"insertOne","x":700,"y":120,"wires":[["b9a8e73a.4a13d8"]]},{"id":"74694c47.e2d594","type":"json-schema-validator","z":"9fe92487.a3c628","name":"validate algoritm","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"signals\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"contains\": {\n\t\t\t    \"type\":\"string\",\n\t\t\t    \"enum\": [\"wifi\",\"calibrated_magentetometer\",\"uncalibrated_magentetometer\"]\n\t\t\t}\n\t\t},\n\t\t\"schema\":{\n\t\t  \"type\": \"object\"  \n\t\t},\n\t\t\"language\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"python\",\"node\",\"java\",\"cpp\"]\n\t\t}\n\t},\n  \"required\": [\"language\", \"name\", \"signals\"]\n}","x":300,"y":120,"wires":[["9432bcb4.52af4"]]},{"id":"b9a8e73a.4a13d8","type":"http response","z":"9fe92487.a3c628","name":"","statusCode":"200","headers":{},"x":920,"y":120,"wires":[]},{"id":"9432bcb4.52af4","type":"function","z":"9fe92487.a3c628","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["33556247.64affe"]]},{"id":"96b321c3.d6c7c","type":"catch","z":"9fe92487.a3c628","name":"","scope":null,"uncaught":false,"x":80,"y":580,"wires":[["1a931c63.d0c7e4"]]},{"id":"bd5585fb.e05d58","type":"http response","z":"9fe92487.a3c628","name":"","statusCode":"417","headers":{},"x":640,"y":580,"wires":[]},{"id":"1a931c63.d0c7e4","type":"function","z":"9fe92487.a3c628","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":580,"wires":[["b19bc22d.0874e","5fbeafea.0c896"]]},{"id":"b19bc22d.0874e","type":"switch","z":"9fe92487.a3c628","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":580,"wires":[["bd5585fb.e05d58"]]},{"id":"5fbeafea.0c896","type":"debug","z":"9fe92487.a3c628","name":"series_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":520,"wires":[]},{"id":"bdd850d.2317bb","type":"http in","z":"9fe92487.a3c628","name":"","url":"algoritms","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["8bed45e5.103748","8ebe251a.9c9218"]]},{"id":"47db17a6.116738","type":"comment","z":"9fe92487.a3c628","name":"read","info":"","x":70,"y":180,"wires":[]},{"id":"d4a72331.6e87f","type":"mongodb3 in","z":"9fe92487.a3c628","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_algoritms","operation":"find.toArray","x":480,"y":220,"wires":[["e708035a.21d2a"]]},{"id":"e708035a.21d2a","type":"http response","z":"9fe92487.a3c628","name":"","statusCode":"200","headers":{},"x":680,"y":220,"wires":[]},{"id":"8bed45e5.103748","type":"function","z":"9fe92487.a3c628","name":"","func":"\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["d4a72331.6e87f"]]},{"id":"863a15e7.51fd78","type":"http in","z":"9fe92487.a3c628","name":"","url":"/algoritms/:alg_id","method":"put","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["87cb20be.9cd05","300d83d5.4b1c1c"]]},{"id":"9c5ba760.4d7788","type":"http response","z":"9fe92487.a3c628","name":"","statusCode":"200","headers":{},"x":1100,"y":340,"wires":[]},{"id":"f77954b6.66d2d8","type":"mongodb3 in","z":"9fe92487.a3c628","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_algoritms","operation":"findOneAndReplace","x":870,"y":340,"wires":[["2fa055d2.7a220a","9c5ba760.4d7788"]]},{"id":"2fa055d2.7a220a","type":"debug","z":"9fe92487.a3c628","name":"out MongoDB  update (PUT)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":300,"wires":[]},{"id":"87cb20be.9cd05","type":"debug","z":"9fe92487.a3c628","name":"PUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":300,"wires":[]},{"id":"db866af5.4e5538","type":"comment","z":"9fe92487.a3c628","name":"PUT","info":"Update site information such as blueprint","x":70,"y":280,"wires":[]},{"id":"888a2d13.28ca4","type":"json-schema-validator","z":"9fe92487.a3c628","name":"validate algoritm","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"signals\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"contains\": {\n\t\t\t    \"type\":\"string\",\n\t\t\t    \"enum\": [\"wifi\",\"calibrated_magentetometer\",\"uncalibrated_magentetometer\"]\n\t\t\t}\n\t\t},\n\t\t\"schema\":{\n\t\t  \"type\": \"object\"  \n\t\t},\n\t\t\"language\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"python\",\"node\",\"java\",\"cpp\"]\n\t\t}\n\t},\n  \"required\": [\"language\", \"name\", \"signals\"]\n}","x":480,"y":340,"wires":[["db91c155.252cc"]]},{"id":"db91c155.252cc","type":"function","z":"9fe92487.a3c628","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload._id = ObjectId(msg.payload._id);\n\nmsg.payload=[\n    {\"_id\":msg.payload._id},\n    msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["f77954b6.66d2d8"]]},{"id":"300d83d5.4b1c1c","type":"function","z":"9fe92487.a3c628","name":"Make update","func":"msg.payload._id = msg.req.params.alg_id;\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["888a2d13.28ca4"]]},{"id":"8528701d.4f5f5","type":"http in","z":"aab4b0a5.d7ba7","name":"","url":"devices","method":"post","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["9dd9d5c.0b61b28"]]},{"id":"2c23dec0.9aea62","type":"comment","z":"aab4b0a5.d7ba7","name":"create","info":"","x":70,"y":40,"wires":[]},{"id":"88748e43.76744","type":"mongodb3 in","z":"aab4b0a5.d7ba7","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_devices","operation":"insertOne","x":690,"y":80,"wires":[["b57c7869.f4dac8"]]},{"id":"9dd9d5c.0b61b28","type":"json-schema-validator","z":"aab4b0a5.d7ba7","name":"validate device","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"software_version\":{\n\t\t  \"type\": \"string\"  \n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"hardware\":{\n\t\t    \"type\":\"string\"\n\t\t}\n\t},\n  \"required\": [\"hardware\", \"name\", \"software_version\"]\n}","x":300,"y":80,"wires":[["7e881384.d4c97c"]]},{"id":"b57c7869.f4dac8","type":"http response","z":"aab4b0a5.d7ba7","name":"","statusCode":"200","headers":{},"x":900,"y":80,"wires":[]},{"id":"7e881384.d4c97c","type":"function","z":"aab4b0a5.d7ba7","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["88748e43.76744"]]},{"id":"4ae70d02.db1f04","type":"catch","z":"aab4b0a5.d7ba7","name":"","scope":null,"uncaught":false,"x":80,"y":540,"wires":[["bb53219a.5e903"]]},{"id":"3cb8e612.730c7a","type":"http response","z":"aab4b0a5.d7ba7","name":"","statusCode":"417","headers":{},"x":640,"y":540,"wires":[]},{"id":"bb53219a.5e903","type":"function","z":"aab4b0a5.d7ba7","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["2fd92751.356cd8","62865bec.b5a874"]]},{"id":"2fd92751.356cd8","type":"switch","z":"aab4b0a5.d7ba7","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":540,"wires":[["3cb8e612.730c7a"]]},{"id":"62865bec.b5a874","type":"debug","z":"aab4b0a5.d7ba7","name":"series_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":480,"wires":[]},{"id":"ac21e7c3.5159a8","type":"http in","z":"aab4b0a5.d7ba7","name":"","url":"devices","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["64907a1a.f81094"]]},{"id":"8904988f.bd8318","type":"comment","z":"aab4b0a5.d7ba7","name":"read","info":"","x":70,"y":140,"wires":[]},{"id":"f296ffaf.748da","type":"mongodb3 in","z":"aab4b0a5.d7ba7","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_devices","operation":"find.toArray","x":480,"y":180,"wires":[["9b28e1c1.da4d4"]]},{"id":"9b28e1c1.da4d4","type":"http response","z":"aab4b0a5.d7ba7","name":"","statusCode":"200","headers":{},"x":680,"y":180,"wires":[]},{"id":"64907a1a.f81094","type":"function","z":"aab4b0a5.d7ba7","name":"ObjectId ","func":"\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["f296ffaf.748da"]]},{"id":"527cc75c.35c9b8","type":"http in","z":"aab4b0a5.d7ba7","name":"","url":"/devices/:device_id","method":"put","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["d30054c3.0966a8","94dd5641.3ac218"]]},{"id":"d5f385c6.685438","type":"http response","z":"aab4b0a5.d7ba7","name":"","statusCode":"200","headers":{},"x":1120,"y":300,"wires":[]},{"id":"d56baaa5.f3ebe8","type":"mongodb3 in","z":"aab4b0a5.d7ba7","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_devices","operation":"findOneAndReplace","x":870,"y":300,"wires":[["670594cf.d4720c","d5f385c6.685438"]]},{"id":"670594cf.d4720c","type":"debug","z":"aab4b0a5.d7ba7","name":"out MongoDB  update (PUT)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":260,"wires":[]},{"id":"d30054c3.0966a8","type":"debug","z":"aab4b0a5.d7ba7","name":"series PUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":260,"wires":[]},{"id":"b130960a.b8e7c8","type":"comment","z":"aab4b0a5.d7ba7","name":"PUT","info":"Update site information such as blueprint","x":70,"y":240,"wires":[]},{"id":"b70d61aa.c4174","type":"json-schema-validator","z":"aab4b0a5.d7ba7","name":"validate device","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"software_version\":{\n\t\t  \"type\": \"string\"  \n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"hardware\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t}\n\t},\n  \"required\": [\"hardware\", \"name\", \"software_version\"]\n}","x":480,"y":300,"wires":[["3b7a20c.10f58e"]]},{"id":"3b7a20c.10f58e","type":"function","z":"aab4b0a5.d7ba7","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload._id = ObjectId(msg.payload._id);\n\nmsg.payload=[\n    {\"_id\":msg.payload._id},\n    msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["d56baaa5.f3ebe8"]]},{"id":"94dd5641.3ac218","type":"function","z":"aab4b0a5.d7ba7","name":"Make update","func":"msg.payload._id = msg.req.params.device_id;\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b70d61aa.c4174"]]},{"id":"4c5d5402.6d9ddc","type":"http in","z":"19760cdb.bda9b3","name":"","url":"runtimes","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["b625ee18.d325c"]]},{"id":"b625ee18.d325c","type":"function","z":"19760cdb.bda9b3","name":"ObjectId ","func":"\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["764b3c19.212134"]]},{"id":"764b3c19.212134","type":"mongodb3 in","z":"19760cdb.bda9b3","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_runtimes","operation":"find.toArray","x":500,"y":280,"wires":[["bd320cfa.fc4b9"]]},{"id":"bd320cfa.fc4b9","type":"http response","z":"19760cdb.bda9b3","name":"","statusCode":"200","headers":{},"x":700,"y":280,"wires":[]},{"id":"26cfbdbc.2933b2","type":"comment","z":"19760cdb.bda9b3","name":"read","info":"","x":90,"y":240,"wires":[]},{"id":"8ebe251a.9c9218","type":"debug","z":"9fe92487.a3c628","name":"GET","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":180,"wires":[]},{"id":"b28d6c8a.e6cc3","type":"debug","z":"9fe92487.a3c628","name":"POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":80,"wires":[]},{"id":"75ba12d1.0c178c","type":"http in","z":"f872f567.0933c8","name":"","url":"/sites/:site_id/layers","method":"post","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["f7a28c97.0948a","30123ebd.7a10e2"]]},{"id":"93a5735e.8dfd8","type":"mongodb3 in","z":"f872f567.0933c8","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_layers","operation":"insertOne","x":1030,"y":100,"wires":[["ca07dd52.36cd6","56527032.cf297"]]},{"id":"ca07dd52.36cd6","type":"http response","z":"f872f567.0933c8","name":"","statusCode":"200","headers":{},"x":1220,"y":100,"wires":[]},{"id":"6208dc30.78fd94","type":"comment","z":"f872f567.0933c8","name":"POST","info":"Create New Site","x":110,"y":40,"wires":[]},{"id":"f7a28c97.0948a","type":"debug","z":"f872f567.0933c8","name":"layer POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":60,"wires":[]},{"id":"236eba0e.ef1636","type":"http in","z":"f872f567.0933c8","name":"","url":"/sites/:site_id/layers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["788e70b0.e1a81","205e82fb.43cfbe"]]},{"id":"3cdc1ae.ff6cee6","type":"http response","z":"f872f567.0933c8","name":"","statusCode":"200","headers":{},"x":760,"y":300,"wires":[]},{"id":"788e70b0.e1a81","type":"debug","z":"f872f567.0933c8","name":"Get site by id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":300,"wires":[]},{"id":"1b74acc1.52cc13","type":"comment","z":"f872f567.0933c8","name":"GET","info":"Get site by id","x":110,"y":280,"wires":[]},{"id":"d4c39a8c.5bfa08","type":"debug","z":"f872f567.0933c8","name":"objectid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":340,"wires":[]},{"id":"205e82fb.43cfbe","type":"function","z":"f872f567.0933c8","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.site_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["267bb7a6.a72f68","91fbd330.2bcf"]]},{"id":"267bb7a6.a72f68","type":"mongodb3 in","z":"f872f567.0933c8","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get by id","collection":"_layers","operation":"find.toArray","x":600,"y":340,"wires":[["d4c39a8c.5bfa08","3cdc1ae.ff6cee6"]]},{"id":"91fbd330.2bcf","type":"debug","z":"f872f567.0933c8","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":300,"wires":[]},{"id":"8f402e71.f0e2","type":"json-schema-validator","z":"f872f567.0933c8","name":"validate site creation","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\",\n            \"minLength\": 1,\n            \"maxLength\": 30\n\t\t},\n\t\t\"width\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"height\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"blueprint\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"level\":{\n\t\t    \"type\":\"number\"\n\t\t}\n\t},\n  \"required\": [\"site_id\", \"blueprint\",\"level\"]\n}","x":620,"y":100,"wires":[["a654575c.3beff8"]]},{"id":"d1778b9f.c77be8","type":"catch","z":"f872f567.0933c8","name":"","scope":null,"uncaught":false,"x":120,"y":620,"wires":[["a100852f.5aecf8"]]},{"id":"e70ae372.93c88","type":"http response","z":"f872f567.0933c8","name":"","statusCode":"417","headers":{},"x":680,"y":620,"wires":[]},{"id":"a100852f.5aecf8","type":"function","z":"f872f567.0933c8","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["2bacd6dc.217a7a","2e00c34a.2baafc"]]},{"id":"2bacd6dc.217a7a","type":"switch","z":"f872f567.0933c8","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":620,"wires":[["e70ae372.93c88"]]},{"id":"2e00c34a.2baafc","type":"debug","z":"f872f567.0933c8","name":"sites_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":580,"wires":[]},{"id":"30123ebd.7a10e2","type":"function","z":"f872f567.0933c8","name":"get site_id","func":"msg.payload.site_id = msg.req.params.site_id;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["8f402e71.f0e2"]]},{"id":"a654575c.3beff8","type":"function","z":"f872f567.0933c8","name":"ObjectId(site_id)","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":100,"wires":[["93a5735e.8dfd8","67a322f.45408dc"]]},{"id":"4c8c35d0.9c6afc","type":"http in","z":"f872f567.0933c8","name":"","url":"/sites/:site_id/layers/:layer_id","method":"put","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["465b353.50a40cc","453c3761.b6a5b8"]]},{"id":"53e77197.129e","type":"mongodb3 in","z":"f872f567.0933c8","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_layers","operation":"findOneAndReplace","x":1080,"y":220,"wires":[["737b62d8.acd6dc"]]},{"id":"737b62d8.acd6dc","type":"http response","z":"f872f567.0933c8","name":"","statusCode":"200","headers":{},"x":1320,"y":220,"wires":[]},{"id":"de3403fd.71cdc","type":"comment","z":"f872f567.0933c8","name":"POST","info":"Create New Site","x":110,"y":160,"wires":[]},{"id":"465b353.50a40cc","type":"debug","z":"f872f567.0933c8","name":"Layer PUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":180,"wires":[]},{"id":"f1240e56.fa839","type":"json-schema-validator","z":"f872f567.0933c8","name":"validate site creation","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\",\n            \"minLength\": 1,\n            \"maxLength\": 30\n\t\t},\n\t\t\"width\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"height\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"blueprint\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"level\":{\n\t\t    \"type\":\"number\"\n\t\t}\n\t},\n  \"required\": [\"site_id\", \"blueprint\",\"level\"]\n}","x":640,"y":220,"wires":[["ae000c34.82de2","4d94863b.07efa8"]]},{"id":"453c3761.b6a5b8","type":"function","z":"f872f567.0933c8","name":"get site_id","func":"msg.payload.site_id = msg.req.params.site_id;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["f1240e56.fa839","78bf1fd5.75b2d"]]},{"id":"ae000c34.82de2","type":"function","z":"f872f567.0933c8","name":"ObjectId(site_id)","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\nlayer_id = ObjectId(msg.req.params.layer_id);\nmsg.payload._id = layer_id;\n\nmsg.payload=[\n    {\"_id\":layer_id},\n    msg.payload];\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":220,"wires":[["53e77197.129e","a7c5c23b.edd72"]]},{"id":"78bf1fd5.75b2d","type":"debug","z":"f872f567.0933c8","name":"A","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":180,"wires":[]},{"id":"4d94863b.07efa8","type":"debug","z":"f872f567.0933c8","name":"B","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":180,"wires":[]},{"id":"a7c5c23b.edd72","type":"debug","z":"f872f567.0933c8","name":"C","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":180,"wires":[]},{"id":"17bdf551.b69d9b","type":"debug","z":"2447affc.0fa45","name":"UPDATEE Site","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":440,"wires":[]},{"id":"8f1d8d65.60df2","type":"http in","z":"f872f567.0933c8","name":"","url":"/sites/:site_id/layers/:layer_id","method":"delete","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["2fe291d3.0bed5e","7518dcfe.cb2f64"]]},{"id":"49e29826.f1a028","type":"http response","z":"f872f567.0933c8","name":"","statusCode":"200","headers":{},"x":980,"y":420,"wires":[]},{"id":"2fe291d3.0bed5e","type":"debug","z":"f872f567.0933c8","name":"Delete Layer by ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":420,"wires":[]},{"id":"b40f31a4.6a078","type":"comment","z":"f872f567.0933c8","name":"DELETE","info":"DELETE site by id","x":120,"y":420,"wires":[]},{"id":"be37cc4b.f60bf","type":"debug","z":"f872f567.0933c8","name":"objectid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":460,"wires":[]},{"id":"7518dcfe.cb2f64","type":"function","z":"f872f567.0933c8","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.layer_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["9864e4a6.febe48","785d7d6.ebac484"]]},{"id":"9864e4a6.febe48","type":"mongodb3 in","z":"f872f567.0933c8","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_layers","operation":"findOneAndDelete","x":740,"y":460,"wires":[["be37cc4b.f60bf","49e29826.f1a028"]]},{"id":"785d7d6.ebac484","type":"debug","z":"f872f567.0933c8","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":420,"wires":[]},{"id":"232da593.888d8a","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"400","headers":{},"x":180,"y":220,"wires":[]},{"id":"4ee6b747.feb288","type":"http in","z":"2447affc.0fa45","name":"","url":"/sites/:site_id","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":740,"wires":[["242b405b.d2fa8","3ed2d35a.bfdc9c"]]},{"id":"47b66148.3141a","type":"http response","z":"2447affc.0fa45","name":"","statusCode":"200","headers":{},"x":720,"y":700,"wires":[]},{"id":"242b405b.d2fa8","type":"debug","z":"2447affc.0fa45","name":"Delete by id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":700,"wires":[]},{"id":"3bc520b1.749bb","type":"comment","z":"2447affc.0fa45","name":"DELETE","info":"Get site by id","x":120,"y":680,"wires":[]},{"id":"a9e8ed6c.631c","type":"debug","z":"2447affc.0fa45","name":"objectid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":740,"wires":[]},{"id":"3ed2d35a.bfdc9c","type":"function","z":"2447affc.0fa45","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.site_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["7d9953d5.c8b38c","c13d7705.2c6ee8"]]},{"id":"7d9953d5.c8b38c","type":"mongodb3 in","z":"2447affc.0fa45","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get by id","collection":"_sites","operation":"findOneAndDelete","x":560,"y":740,"wires":[["a9e8ed6c.631c","47b66148.3141a"]]},{"id":"c13d7705.2c6ee8","type":"debug","z":"2447affc.0fa45","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":700,"wires":[]},{"id":"71bd9146.0aaf8","type":"http in","z":"828e2129.c947f","name":"","url":"layers/:layer_id/pois","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["b681d8ac.663788","2f94e00f.e78bc"]]},{"id":"2f94e00f.e78bc","type":"function","z":"828e2129.c947f","name":"get site_id","func":"msg.payload.forEach((item)=>{\n    item.layer_id = msg.req.params.layer_id;\n})\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["bd42b1c7.1a9c7","41bcb792.563328"]]},{"id":"bd42b1c7.1a9c7","type":"json-schema-validator","z":"828e2129.c947f","name":"validate POI creation","func":"{\n  \"type\": \"array\",\n  \"items\":{\n    \t\"type\": \"object\",\n    \t\"properties\": {\n    \t\t\"layer_id\":{\n    \t\t    \"type\":\"string\",\n    \t\t    \"minLength\": 24,\n    \t\t    \"maxLength\": 24\n    \t\t},\n    \t\t\"x\":{\n    \t\t    \"type\":\"number\"\n    \t\t},\n    \t\t\"y\":{\n    \t\t    \"type\":\"number\"\n    \t\t},\n    \t\t\"tags\":{\n    \t\t    \"type\":\"array\"\n    \t\t},\n    \t\t\"status\":{\n    \t\t    \"type\":\"string\",\n    \t\t    \"enum\":[\"not-configured\",\"train\",\"train-wd\",\"test\",\"test-wd\"]\n    \t\t}\n    \t},\n        \"required\": [\"layer_id\", \"x\",\"y\",\"status\"]\n    }\n}","x":600,"y":120,"wires":[["9bbd1213.3a582","63597c75.01a5b4"]]},{"id":"9bbd1213.3a582","type":"function","z":"828e2129.c947f","name":"ObjectId(site_id)","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.forEach((item)=>{\n    item.layer_id = ObjectId(item.layer_id);\n});\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["54c20d30.c98894","61ced48f.00f92c"]]},{"id":"61ced48f.00f92c","type":"mongodb3 in","z":"828e2129.c947f","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_pois","operation":"insertMany","x":1010,"y":120,"wires":[["814120f6.e3f57"]]},{"id":"814120f6.e3f57","type":"http response","z":"828e2129.c947f","name":"","statusCode":"200","headers":{},"x":1200,"y":120,"wires":[]},{"id":"b681d8ac.663788","type":"debug","z":"828e2129.c947f","name":"POIs POST","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":80,"wires":[]},{"id":"1d2529a8.fc3906","type":"comment","z":"828e2129.c947f","name":"POST","info":"Create New Site","x":90,"y":80,"wires":[]},{"id":"54c20d30.c98894","type":"debug","z":"828e2129.c947f","name":"C","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":180,"wires":[]},{"id":"63597c75.01a5b4","type":"debug","z":"828e2129.c947f","name":"B","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":200,"wires":[]},{"id":"41bcb792.563328","type":"debug","z":"828e2129.c947f","name":"A","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"e301066e.e56618","type":"catch","z":"828e2129.c947f","name":"","scope":null,"uncaught":false,"x":120,"y":820,"wires":[["e45c29a7.bd3618"]]},{"id":"a19873ed.fe10b","type":"http response","z":"828e2129.c947f","name":"","statusCode":"417","headers":{},"x":680,"y":820,"wires":[]},{"id":"e45c29a7.bd3618","type":"function","z":"828e2129.c947f","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":820,"wires":[["6d40c451.9c38bc","f9b3dce1.65372"]]},{"id":"6d40c451.9c38bc","type":"switch","z":"828e2129.c947f","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":820,"wires":[["a19873ed.fe10b"]]},{"id":"f9b3dce1.65372","type":"debug","z":"828e2129.c947f","name":"sites_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":780,"wires":[]},{"id":"3975d924.39ca76","type":"http response","z":"828e2129.c947f","name":"","statusCode":"200","headers":{},"x":920,"y":300,"wires":[]},{"id":"e9114631.1427b8","type":"debug","z":"828e2129.c947f","name":"Get pois by layer_id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":300,"wires":[]},{"id":"1f07e59f.a71d1a","type":"debug","z":"828e2129.c947f","name":"objectid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":340,"wires":[]},{"id":"af2542b2.b80ee","type":"function","z":"828e2129.c947f","name":"Agregate query","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload=[[{\n      \"$lookup\":{\n          from: \"_data\",\n          localField: \"_id\",\n          foreignField: \"poi_id\",\n          as: \"haveData\"\n        }\n   },\n   {\n       \"$match\": {\n           \"layer_id\":ObjectId(msg.req.params.layer_id)\n       } \n   }\n   ]\n];\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["98351a50.979568","13c78c4a.9bd674"]]},{"id":"98351a50.979568","type":"mongodb3 in","z":"828e2129.c947f","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get by id","collection":"_pois","operation":"aggregate.toArray","x":640,"y":340,"wires":[["3e430749.f714b8"]]},{"id":"13c78c4a.9bd674","type":"debug","z":"828e2129.c947f","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":300,"wires":[]},{"id":"1f957129.afb01f","type":"http in","z":"828e2129.c947f","name":"","url":"layers/:layer_id/pois","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["e9114631.1427b8","af2542b2.b80ee"]]},{"id":"a2a86b5e.5277b8","type":"comment","z":"828e2129.c947f","name":"GET","info":"Create New Site","x":130,"y":300,"wires":[]},{"id":"430d910a.28069","type":"inject","z":"df6f6c46.0f5b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["dc6a48c5.81ff88"]]},{"id":"dc6a48c5.81ff88","type":"function","z":"df6f6c46.0f5b2","name":"","func":"setTimeout(function(){\n    node.send([ {\"a\":false},null ]);\n}.bind(this),3500);\nsetTimeout(function(){\n    node.send([ null, {\"b\":true} ]);\n}.bind(this),7000);","outputs":2,"noerr":0,"x":250,"y":320,"wires":[["7452c276.50b04c"],["8d7ab32c.ca285"]]},{"id":"7452c276.50b04c","type":"debug","z":"df6f6c46.0f5b2","name":"a","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":300,"wires":[]},{"id":"8d7ab32c.ca285","type":"debug","z":"df6f6c46.0f5b2","name":"b","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":340,"wires":[]},{"id":"cc20e47f.5a6fb8","type":"http in","z":"df6f6c46.0f5b2","name":"foo","url":"/foo","method":"put","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["d251d305.f4269","b3b570f3.87ebe"]]},{"id":"d251d305.f4269","type":"function","z":"df6f6c46.0f5b2","name":"","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["656f16c7.47d818"]]},{"id":"656f16c7.47d818","type":"http response","z":"df6f6c46.0f5b2","name":"","statusCode":"200","headers":{},"x":460,"y":480,"wires":[]},{"id":"b3b570f3.87ebe","type":"debug","z":"df6f6c46.0f5b2","name":"foo msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":440,"wires":[]},{"id":"e59b0a73.bd7488","type":"debug","z":"828e2129.c947f","name":"Update POI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":480,"wires":[]},{"id":"13a944bb.2650bb","type":"http response","z":"828e2129.c947f","name":"","statusCode":"200","headers":{},"x":1340,"y":440,"wires":[]},{"id":"be52d291.037bb","type":"json-schema-validator","z":"828e2129.c947f","name":"validate POI creation","func":"{\n    \"type\": \"object\",\n    \"properties\": {\n    \t\"layer_id\":{\n    \t    \"type\":\"string\",\n    \t    \"minLength\": 24,\n    \t    \"maxLength\": 24\n    \t},\n    \t\"x\":{\n    \t    \"type\":\"number\"\n    \t},\n    \t\"y\":{\n    \t    \"type\":\"number\"\n    \t},\n    \t\"tags\":{\n    \t    \"type\":\"array\"\n    \t},\n    \t\"status\":{\n    \t    \"type\":\"string\",\n    \t    \"enum\":[\"not-configured\",\"train\",\"train-wd\",\"test\",\"test-wd\"]\n    \t}\n    },\n    \"required\": [\"layer_id\", \"x\",\"y\",\"status\"]\n}","x":640,"y":440,"wires":[["345c4244.9b6a1e"]]},{"id":"c9e5bec8.7316a","type":"function","z":"828e2129.c947f","name":"get site_id","func":"msg.payload.layer_id = msg.req.params.layer_id;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["be52d291.037bb"]]},{"id":"dc5e1557.f627a8","type":"mongodb3 in","z":"828e2129.c947f","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_pois","operation":"findOneAndReplace","x":1100,"y":440,"wires":[["13a944bb.2650bb","ab450c86.e31a2"]]},{"id":"345c4244.9b6a1e","type":"function","z":"828e2129.c947f","name":"update Mongodb","func":"var ObjectId = global.get('ObjectId');\nmsg.payload._id  =ObjectId(msg.payload._id);\nmsg.payload.layer_id  =ObjectId(msg.payload.layer_id);\nmsg.payload=[\n    {_id:msg.payload._id},\n    msg.payload\n    ]\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["dc5e1557.f627a8","d0cd349f.d79eb8"]]},{"id":"ab450c86.e31a2","type":"debug","z":"828e2129.c947f","name":"From DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":480,"wires":[]},{"id":"d0cd349f.d79eb8","type":"debug","z":"828e2129.c947f","name":"toDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":480,"wires":[]},{"id":"d51e035d.56ef6","type":"http in","z":"828e2129.c947f","name":"","url":"layers/:layer_id/pois","method":"put","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["e59b0a73.bd7488","c9e5bec8.7316a"]]},{"id":"68f9b5e3.28433c","type":"http in","z":"828e2129.c947f","name":"","url":"layers/:layer_id/pois/:poi_id","method":"delete","upload":false,"swaggerDoc":"","x":200,"y":640,"wires":[["88704822.e9dea8","fb0d553b.a400b8"]]},{"id":"88704822.e9dea8","type":"debug","z":"828e2129.c947f","name":"Delete POI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":680,"wires":[]},{"id":"8cd85fb8.a65cd","type":"http response","z":"828e2129.c947f","name":"","statusCode":"200","headers":{},"x":900,"y":640,"wires":[]},{"id":"b7215ea6.8e1c9","type":"mongodb3 in","z":"828e2129.c947f","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_pois","operation":"findOneAndDelete","x":670,"y":640,"wires":[["8cd85fb8.a65cd","d1c1fa35.52d9a8"]]},{"id":"d1c1fa35.52d9a8","type":"debug","z":"828e2129.c947f","name":"From DB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":600,"wires":[]},{"id":"fb0d553b.a400b8","type":"function","z":"828e2129.c947f","name":"get site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload ={\n    \"_id\":ObjectId(msg.req.params.poi_id)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["b7215ea6.8e1c9"]]},{"id":"bb4ea0e5.538f8","type":"comment","z":"828e2129.c947f","name":"UPDATE","info":"","x":120,"y":400,"wires":[]},{"id":"b1a34575.e87a08","type":"comment","z":"828e2129.c947f","name":"Delete","info":"","x":110,"y":600,"wires":[]},{"id":"c72ec2fe.48a86","type":"http in","z":"3bbde011.0d963","name":"","url":"/pois/:poi_id/data/train","method":"post","upload":false,"swaggerDoc":"","x":180,"y":260,"wires":[["4ca8b8a.662e948","35efc351.a0abdc"]]},{"id":"4ca8b8a.662e948","type":"debug","z":"3bbde011.0d963","name":"Posted Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":240,"wires":[]},{"id":"35efc351.a0abdc","type":"function","z":"3bbde011.0d963","name":"","func":"var ObjectId = global.get('ObjectId');\nlet poi_id = ObjectId(msg.req.params.poi_id);\nlet timestamp = Math.floor(Date.now() / 1000);\nlet type=  msg.req.url.split(\"/\");\ntype = type[type.length-1];\nmsg.payload = msg.payload.data.map((res)=>{\n    return{\n        poi_id,\n        timestamp,\n        data:res,\n        type\n    };\n})\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["d3bbcfa4.b3034","ed9cf7f3.b95ac8"]]},{"id":"3f039f8.28bca6","type":"http response","z":"3bbde011.0d963","name":"","statusCode":"200","headers":{},"x":1300,"y":280,"wires":[]},{"id":"d3bbcfa4.b3034","type":"debug","z":"3bbde011.0d963","name":"Adapted data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":240,"wires":[]},{"id":"a2e4b94b.644048","type":"http in","z":"3bbde011.0d963","name":"","url":"/pois/:poi_id/data/test","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["35efc351.a0abdc"]]},{"id":"22431f18.7f668","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_data","operation":"insertMany","x":1050,"y":280,"wires":[["3f039f8.28bca6","bb882ab0.d036b8"]]},{"id":"bb882ab0.d036b8","type":"debug","z":"3bbde011.0d963","name":"from db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1300,"y":240,"wires":[]},{"id":"ed9cf7f3.b95ac8","type":"json-schema-validator","z":"3bbde011.0d963","name":"validate POI creation","func":"{\n  \"type\": \"array\",\n  \"items\":{\n    \t\"type\": \"object\",\n    \t\"properties\": {\n    \t\t\"poi_id\":{\n    \t\t    \"type\":\"object\"\n    \t\t},\n    \t\t\"data\":{\n    \t\t    \"type\":\"object\"\n    \t\t},\n    \t\t\"type\":{\n    \t\t    \"type\":\"string\",\n    \t\t    \"enum\":[\"train\",\"test\"]\n    \t\t},\n    \t\t\"timestamp\":{\n    \t\t    \"type\":\"number\"\n    \t\t}\n    \t},\n        \"required\": [\"poi_id\", \"data\",\"type\",\"timestamp\"]\n    }\n}","x":660,"y":280,"wires":[["aa92fd01.4695c"]]},{"id":"aa92fd01.4695c","type":"function","z":"3bbde011.0d963","name":"","func":"msg.payload= [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":280,"wires":[["22431f18.7f668","1fee4125.ea20df"]]},{"id":"1fee4125.ea20df","type":"debug","z":"3bbde011.0d963","name":"array of docs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":240,"wires":[]},{"id":"a57919b0.0aebf8","type":"catch","z":"3bbde011.0d963","name":"","scope":null,"uncaught":false,"x":120,"y":980,"wires":[["419d708d.df4f4"]]},{"id":"a2741cd4.e1efe","type":"http response","z":"3bbde011.0d963","name":"","statusCode":"417","headers":{},"x":680,"y":980,"wires":[]},{"id":"419d708d.df4f4","type":"function","z":"3bbde011.0d963","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":980,"wires":[["b24058a3.a049d8","a59752ac.ee6f3"]]},{"id":"b24058a3.a049d8","type":"switch","z":"3bbde011.0d963","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":980,"wires":[["a2741cd4.e1efe"]]},{"id":"a59752ac.ee6f3","type":"debug","z":"3bbde011.0d963","name":"data_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":940,"wires":[]},{"id":"e914799a.30e3f8","type":"mongodb3 in","z":"df6f6c46.0f5b2","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_pois","operation":"find.toArray","x":510,"y":620,"wires":[["2114d4cd.96afac","3466352c.dee55a"]]},{"id":"98bf12d0.8ee93","type":"function","z":"df6f6c46.0f5b2","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"layer_id\":ObjectId(\"5cc9bd9cc41fca21674e0eaf\")\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["e914799a.30e3f8","6d53bbe2.3d3be4"]]},{"id":"2cf0cfa6.c5314","type":"debug","z":"df6f6c46.0f5b2","name":"A","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":660,"wires":[]},{"id":"a7a35b4e.ba8fc8","type":"inject","z":"df6f6c46.0f5b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["98bf12d0.8ee93","2cf0cfa6.c5314"]]},{"id":"6d53bbe2.3d3be4","type":"debug","z":"df6f6c46.0f5b2","name":"B","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":580,"wires":[]},{"id":"2114d4cd.96afac","type":"debug","z":"df6f6c46.0f5b2","name":"C","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":580,"wires":[]},{"id":"3466352c.dee55a","type":"function","z":"df6f6c46.0f5b2","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.pois =Object.assign([],msg.payload);;\n\nmsg.payload = Object.assign([],msg.payload);\n\nmsg.payload = msg.payload.map((r)=>{\n    return ObjectId(r._id);\n});\n\n\nmsg.payload = {\"poi_id\": {\"$in\": msg.payload}}\n \n \n/*\nmsg.payload={\n    \"layer_id\":ObjectId(\"5cc9bd9cc41fca21674e0eaf\")\n};/**/\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[["3f66c57e.98b7da","722f5a16.ab27a4"]]},{"id":"3f66c57e.98b7da","type":"debug","z":"df6f6c46.0f5b2","name":"D","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":580,"wires":[]},{"id":"722f5a16.ab27a4","type":"mongodb3 in","z":"df6f6c46.0f5b2","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_data","operation":"find.toArray","x":970,"y":620,"wires":[["ba32860f.4b5b38","5c433df7.404114"]]},{"id":"5c433df7.404114","type":"function","z":"df6f6c46.0f5b2","name":"","func":"\n\nmsg.payload = Object.assign([],msg.payload);\n\nmsg.pois_ids = JSON.parse(JSON.stringify(msg.pois.map((e)=> {\n    return e._id; \n})));\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[["3afddc88.076df4","b12cc991.ecaf48"]]},{"id":"ba32860f.4b5b38","type":"debug","z":"df6f6c46.0f5b2","name":"E","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":580,"wires":[]},{"id":"b12cc991.ecaf48","type":"function","z":"df6f6c46.0f5b2","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload = Object.assign([],msg.payload);\n\n\nmsg.payload.forEach((_data)=>{\n    let index = msg.pois_ids.indexOf(_data.poi_id);\n    msg.pois_ids.forEach((poi_id,idx)=>{\n        if(poi_id == _data.poi_id);\n        index = idx;\n    });\n    node.warn(\n        JSON.stringify({\n            \"_data.poi_id\":_data.poi_id,\n            \"msg.pois_ids\":msg.pois_ids,\n            index:msg.pois_ids.indexOf(_data.poi_id),\n            \"_data.poi_id ==msg.pois_ids[1] \":_data.poi_id ==msg.pois_ids[1]\n        },undefined,2));\n        \n    msg.pois[index].hasdata = true;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":700,"wires":[["c5cd287d.b045b8"]]},{"id":"3afddc88.076df4","type":"debug","z":"df6f6c46.0f5b2","name":"F","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":560,"wires":[]},{"id":"c5cd287d.b045b8","type":"debug","z":"df6f6c46.0f5b2","name":"G","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":700,"wires":[]},{"id":"d02c2bf.75606d8","type":"mongodb3 in","z":"df6f6c46.0f5b2","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_pois","operation":"aggregate.toArray","x":530,"y":700,"wires":[["5d045ad6.cfc9a4","421449f5.edcf88"]]},{"id":"952bce13.78f5a","type":"inject","z":"df6f6c46.0f5b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":720,"wires":[["5233204.4834ee"]]},{"id":"5233204.4834ee","type":"function","z":"df6f6c46.0f5b2","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload=[[{\n      \"$lookup\":{\n          from: \"_data\",\n          localField: \"_id\",\n          foreignField: \"poi_id\",\n          as: \"haveData\"\n        }\n   },\n   {\n       \"$match\": {\n           \"layer_id\":ObjectId(\"5cc9bd9cc41fca21674e0eaf\") \n       } \n   }\n   ]\n]\n;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":700,"wires":[["d02c2bf.75606d8"]]},{"id":"5d045ad6.cfc9a4","type":"debug","z":"df6f6c46.0f5b2","name":"C","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":660,"wires":[]},{"id":"421449f5.edcf88","type":"function","z":"df6f6c46.0f5b2","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload = Object.assign([],msg.payload);\nmsg.payload = msg.payload.map((doc)=>{\n    doc.haveData = doc.haveData.length>0;\n    return doc;\n})\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["28985853.c09a78"]]},{"id":"28985853.c09a78","type":"debug","z":"df6f6c46.0f5b2","name":"D","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":740,"wires":[]},{"id":"3e430749.f714b8","type":"function","z":"828e2129.c947f","name":"","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload = Object.assign([],msg.payload);\nmsg.payload = msg.payload.map((doc)=>{\n    doc.haveData = doc.haveData.length>0;\n    return doc;\n})\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["1f07e59f.a71d1a","3975d924.39ca76"]]},{"id":"9987c533.757188","type":"http in","z":"3a4939f.4fad3c6","name":"","url":"/sites/:site_id/series","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["59bfa4c1.af17ec","4a1b75d6.b6928c"]]},{"id":"293675ea.0fde9a","type":"json-schema-validator","z":"3a4939f.4fad3c6","name":"validate Serie creation","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"type\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"train\",\"test\"]\n\t\t},\n\t\t\"pois\":{\n\t\t    \"type\":\"array\"\n\t\t},\n\t\t\"series\":{\n\t\t    \"type\":\"array\"\n\t\t}\n\t},\n  \"required\": [\"site_id\",\"name\",\"type\"]\n}","x":560,"y":120,"wires":[["22db9fee.6b39"]]},{"id":"4a1b75d6.b6928c","type":"function","z":"3a4939f.4fad3c6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.site_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["74f3789b.d7d848","6f9d96f0.80dbd8"]]},{"id":"74f3789b.d7d848","type":"debug","z":"3a4939f.4fad3c6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":500,"wires":[]},{"id":"6f9d96f0.80dbd8","type":"mongodb3 in","z":"3a4939f.4fad3c6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_series","operation":"find.toArray","x":650,"y":540,"wires":[["9de9b029.83c77","f1efba4f.c15c48"]]},{"id":"9de9b029.83c77","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"200","headers":{},"x":860,"y":540,"wires":[]},{"id":"de051f5c.fb385","type":"debug","z":"3a4939f.4fad3c6","name":"Create Serie","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":80,"wires":[]},{"id":"f1efba4f.c15c48","type":"debug","z":"3a4939f.4fad3c6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":500,"wires":[]},{"id":"22db9fee.6b39","type":"function","z":"3a4939f.4fad3c6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.site_id= ObjectId(msg.payload.site_id);\nlet field = \"\";\nif(msg.payload.pois!==undefined){\n    field=\"pois\";\n}else if(msg.payload.series!==undefined){\n    field=\"series\";\n}\n\nmsg.payload[field].forEach((element)=>{\n    element = ObjectId(element);\n});\n\nmsg.payload = [msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["422f448f.d4bafc"]]},{"id":"422f448f.d4bafc","type":"mongodb3 in","z":"3a4939f.4fad3c6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_series","operation":"insertOne","x":970,"y":120,"wires":[["b9b22526.482158","e22c3475.f58228"]]},{"id":"e22c3475.f58228","type":"debug","z":"3a4939f.4fad3c6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":80,"wires":[]},{"id":"b9b22526.482158","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"200","headers":{},"x":1200,"y":120,"wires":[]},{"id":"67a322f.45408dc","type":"debug","z":"f872f567.0933c8","name":"InDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":60,"wires":[]},{"id":"56527032.cf297","type":"debug","z":"f872f567.0933c8","name":"OutDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":60,"wires":[]},{"id":"c8be493c.e56148","type":"comment","z":"3a4939f.4fad3c6","name":"series Update","info":"Get list of all sites","x":110,"y":200,"wires":[]},{"id":"4b924fa0.f5c7a","type":"debug","z":"3a4939f.4fad3c6","name":"series Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":300,"wires":[]},{"id":"6bf7abd2.4be1e4","type":"http in","z":"3a4939f.4fad3c6","name":"","url":"/sites/:site_id/series","method":"put","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["4b924fa0.f5c7a","f5ebfb18.efa3c8"]]},{"id":"94d91769.e4ed48","type":"function","z":"3a4939f.4fad3c6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.site_id= ObjectId(msg.payload.site_id);\nmsg.payload._id = ObjectId(msg.payload._id);\nlet field = \"\";\nif(msg.payload.pois!==undefined){\n    field=\"pois\";\n}else if(msg.payload.series!==undefined){\n    field=\"series\";\n}\n\nmsg.payload[field].forEach((element,index)=>{\n    msg.payload[field][index]=ObjectId(element);\n});\n\nmsg.payload=[\n    {_id:msg.payload._id},\n    msg.payload\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["a345ecb9.33197","472a5ce2.264f44"]]},{"id":"a345ecb9.33197","type":"debug","z":"3a4939f.4fad3c6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":220,"wires":[]},{"id":"472a5ce2.264f44","type":"mongodb3 in","z":"3a4939f.4fad3c6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_series","operation":"findOneAndReplace","x":920,"y":260,"wires":[["55b68564.5cd7ac","f62d4dc9.6d0cd"]]},{"id":"55b68564.5cd7ac","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"200","headers":{},"x":1200,"y":260,"wires":[]},{"id":"f62d4dc9.6d0cd","type":"debug","z":"3a4939f.4fad3c6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1200,"y":220,"wires":[]},{"id":"f5ebfb18.efa3c8","type":"json-schema-validator","z":"3a4939f.4fad3c6","name":"validate Serie update","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"type\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"train\",\"test\"]\n\t\t},\n\t\t\"pois\":{\n\t\t    \"type\":\"array\"\n\t\t},\n\t\t\"series\":{\n\t\t    \"type\":\"array\"\n\t\t}\n\t},\n  \"required\": [\"site_id\",\"name\",\"type\"]\n}","x":420,"y":260,"wires":[["94d91769.e4ed48"]]},{"id":"75ad3025.a325c","type":"comment","z":"3a4939f.4fad3c6","name":"series Deletion","info":"","x":120,"y":340,"wires":[]},{"id":"8f16d157.07b3a","type":"debug","z":"3a4939f.4fad3c6","name":"series Update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":360,"wires":[]},{"id":"7a9d0900.d28d08","type":"http in","z":"3a4939f.4fad3c6","name":"","url":"/sites/:site_id/series/:serie_id","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["8f16d157.07b3a","8f19d0f5.95cb2"]]},{"id":"8f19d0f5.95cb2","type":"function","z":"3a4939f.4fad3c6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.site_id),\n    \"_id\":ObjectId(msg.req.params.serie_id),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["55cf3b41.416164","6d01b970.417d88"]]},{"id":"55cf3b41.416164","type":"debug","z":"3a4939f.4fad3c6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":360,"wires":[]},{"id":"6d01b970.417d88","type":"mongodb3 in","z":"3a4939f.4fad3c6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_series","operation":"findOneAndDelete","x":700,"y":400,"wires":[["194c5a43.ec3bc6","ef42af6.64f3c5"]]},{"id":"194c5a43.ec3bc6","type":"http response","z":"3a4939f.4fad3c6","name":"","statusCode":"200","headers":{},"x":940,"y":400,"wires":[]},{"id":"ef42af6.64f3c5","type":"debug","z":"3a4939f.4fad3c6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":360,"wires":[]},{"id":"c3c9496a.1d9558","type":"http in","z":"9fe92487.a3c628","name":"","url":"/algoritms/:alg_id","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":460,"wires":[["9062aa5e.0d3ac8","8e5fe8a9.4533c8"]]},{"id":"b1cef424.e4d658","type":"http response","z":"9fe92487.a3c628","name":"","statusCode":"200","headers":{},"x":840,"y":460,"wires":[]},{"id":"a7927fab.84651","type":"mongodb3 in","z":"9fe92487.a3c628","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_algoritms","operation":"findOneAndDelete","x":590,"y":460,"wires":[["193e441f.ac4adc","b1cef424.e4d658"]]},{"id":"193e441f.ac4adc","type":"debug","z":"9fe92487.a3c628","name":"out MongoDB  update (PUT)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":420,"wires":[]},{"id":"9062aa5e.0d3ac8","type":"debug","z":"9fe92487.a3c628","name":"Delete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":420,"wires":[]},{"id":"7dddc7e9.84fc78","type":"comment","z":"9fe92487.a3c628","name":"Delete","info":"","x":70,"y":400,"wires":[]},{"id":"8e5fe8a9.4533c8","type":"function","z":"9fe92487.a3c628","name":"Make update","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\"_id\":ObjectId(msg.req.params.alg_id)};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["a7927fab.84651"]]},{"id":"81463de0.f78ed","type":"function","z":"ba10cf7f.cc079","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = ObjectId(msg.payload.site_id);\nmsg.payload.train_set = ObjectId(msg.payload.train_set);\nmsg.payload.test_set = ObjectId(msg.payload.test_set);\nmsg.payload.algoritm_id = ObjectId(msg.payload.algoritm_id);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["b7a3dd40.a3929"]]},{"id":"e699671d.f1bb08","type":"function","z":"ba10cf7f.cc079","name":"ObjectId ","func":"var ObjectId = global.get('ObjectId');\nmsg.payload.site_id = msg.req.params.site_id;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["fa4ae5c9.ef1238"]]},{"id":"528b7534.9017cc","type":"comment","z":"ba10cf7f.cc079","name":"series Deletion","info":"","x":100,"y":560,"wires":[]},{"id":"37aecd16.b39c42","type":"debug","z":"ba10cf7f.cc079","name":"series Update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":580,"wires":[]},{"id":"d822097a.36e578","type":"http in","z":"ba10cf7f.cc079","name":"","url":"/sites/:site_id/apps/:app_id","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["37aecd16.b39c42","655d7316.3e239c"]]},{"id":"655d7316.3e239c","type":"function","z":"ba10cf7f.cc079","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.site_id),\n    \"_id\":ObjectId(msg.req.params.app_id),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["61397bb9.2b8564","ed235bd2.a17f48"]]},{"id":"61397bb9.2b8564","type":"debug","z":"ba10cf7f.cc079","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":580,"wires":[]},{"id":"ed235bd2.a17f48","type":"mongodb3 in","z":"ba10cf7f.cc079","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_apps","operation":"findOneAndDelete","x":670,"y":620,"wires":[["8235141c.dcaf68","3aa3e0ac.308db"]]},{"id":"8235141c.dcaf68","type":"http response","z":"ba10cf7f.cc079","name":"","statusCode":"200","headers":{},"x":920,"y":620,"wires":[]},{"id":"3aa3e0ac.308db","type":"debug","z":"ba10cf7f.cc079","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":580,"wires":[]},{"id":"cd7eb700.a05008","type":"json-schema-validator","z":"ba10cf7f.cc079","name":"validate app","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\":{\n\t\t    \"type\":\"string\"\n\t\t},\n\t\t\"train_set\": {\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"test_set\": {\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"devices\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"contains\": {\n\t\t\t    \"type\":\"string\",\n    \t\t    \"minLength\": 24,\n    \t\t    \"maxLength\": 24\n\t\t\t}\n\t\t},\n\t\t\"site_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"algoritm_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t}\n\t},\n  \"required\": [\"site_id\", \"name\", \"test_set\",\"train_set\",\"algoritm_id\"]\n}","x":550,"y":480,"wires":[["19f2d5f6.0188ca"]]},{"id":"ba164b94.3894b8","type":"http in","z":"b802bc0a.4c4e6","name":"","url":"/apps/:app_id/orders","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["5cc7c442.df993c","b32dfd26.fa0e1"]]},{"id":"5cc7c442.df993c","type":"function","z":"b802bc0a.4c4e6","name":"get app_id","func":"msg.postedData = msg.payload;\n\nmsg.payload.app_id = msg.req.params.app_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["42ebda4f.de7414"]]},{"id":"b6e48aa0.b40788","type":"comment","z":"b802bc0a.4c4e6","name":"POST","info":"Create New Site","x":90,"y":20,"wires":[]},{"id":"24545b9d.ca6c24","type":"comment","z":"b802bc0a.4c4e6","name":"GET","info":"Get list of all sites","x":90,"y":440,"wires":[]},{"id":"804ade26.7441b","type":"debug","z":"b802bc0a.4c4e6","name":"series GET","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":540,"wires":[]},{"id":"444c8fc1.60641","type":"http in","z":"b802bc0a.4c4e6","name":"","url":"/apps/:app_id/orders/:order_id","method":"get","upload":false,"swaggerDoc":"","x":180,"y":680,"wires":[["278a81c7.f1d9de","44ced0e2.bf1b7"]]},{"id":"278a81c7.f1d9de","type":"debug","z":"b802bc0a.4c4e6","name":"Get series by id","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":640,"wires":[]},{"id":"1245bee3.f4bc51","type":"comment","z":"b802bc0a.4c4e6","name":"GET","info":"Get site by id","x":90,"y":620,"wires":[]},{"id":"44ced0e2.bf1b7","type":"function","z":"b802bc0a.4c4e6","name":"parse order_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.order_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["5573be08.9c82e"]]},{"id":"5573be08.9c82e","type":"mongodb3 in","z":"b802bc0a.4c4e6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_orders","operation":"find.toArray","x":680,"y":680,"wires":[["1ecd141f.c2174c","6758145a.65df1c"]]},{"id":"1ecd141f.c2174c","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"200","headers":{},"x":880,"y":680,"wires":[]},{"id":"6758145a.65df1c","type":"debug","z":"b802bc0a.4c4e6","name":"out MongoDB  (get)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":640,"wires":[]},{"id":"2ee272af.bfb9fe","type":"catch","z":"b802bc0a.4c4e6","name":"","scope":null,"uncaught":false,"x":100,"y":780,"wires":[["a462923e.93f6d"]]},{"id":"959c91b8.b80aa","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"417","headers":{},"x":660,"y":780,"wires":[]},{"id":"a462923e.93f6d","type":"function","z":"b802bc0a.4c4e6","name":"respond with error","func":"msg.payload = msg._error;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[["2399e225.ac58fe","4071618f.d4336"]]},{"id":"2399e225.ac58fe","type":"switch","z":"b802bc0a.4c4e6","name":"","property":"res","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":780,"wires":[["959c91b8.b80aa"]]},{"id":"4071618f.d4336","type":"debug","z":"b802bc0a.4c4e6","name":"Orders_error_catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":740,"wires":[]},{"id":"250a268e.a01f5a","type":"http in","z":"b802bc0a.4c4e6","name":"","url":"/apps/:app_id/orders/","method":"get","upload":false,"swaggerDoc":"","x":150,"y":500,"wires":[["804ade26.7441b","98c487fe.b1cd28"]]},{"id":"42ebda4f.de7414","type":"json-schema-validator","z":"b802bc0a.4c4e6","name":"validate order","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"app_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"type\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"train\",\"filter\",\"test\"]\n\t\t},\n\t\t\"ordered\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"start\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"finished\":{\n\t\t    \"type\":\"number\"\n\t\t}\n\t},\n  \"required\": [\"app_id\",\"ordered\",\"type\"]\n}","x":540,"y":80,"wires":[["765af4c8.638f3c"]]},{"id":"98c487fe.b1cd28","type":"function","z":"b802bc0a.4c4e6","name":"parse app_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"site_id\":ObjectId(msg.req.params.app_id)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["6f02a76a.ec2d28","33bc8b89.c1e534"]]},{"id":"6f02a76a.ec2d28","type":"debug","z":"b802bc0a.4c4e6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":460,"wires":[]},{"id":"33bc8b89.c1e534","type":"mongodb3 in","z":"b802bc0a.4c4e6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_orders","operation":"find.toArray","x":660,"y":500,"wires":[["13c7f89f.e02c57","a69bf60d.3cabd8"]]},{"id":"13c7f89f.e02c57","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"200","headers":{},"x":860,"y":500,"wires":[]},{"id":"b32dfd26.fa0e1","type":"debug","z":"b802bc0a.4c4e6","name":"Create order ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":40,"wires":[]},{"id":"a69bf60d.3cabd8","type":"debug","z":"b802bc0a.4c4e6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":460,"wires":[]},{"id":"765af4c8.638f3c","type":"function","z":"b802bc0a.4c4e6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.site_id= ObjectId(msg.payload.app_id);\n\nmsg.payload = [msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["7dafcf5b.5f9c"]]},{"id":"7dafcf5b.5f9c","type":"mongodb3 in","z":"b802bc0a.4c4e6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_orders","operation":"insertOne","x":970,"y":80,"wires":[["5b630506.db7b1c","a5d7c95c.a01678"]]},{"id":"a5d7c95c.a01678","type":"debug","z":"b802bc0a.4c4e6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":40,"wires":[]},{"id":"5b630506.db7b1c","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"200","headers":{},"x":1180,"y":80,"wires":[]},{"id":"76431103.411fd","type":"comment","z":"b802bc0a.4c4e6","name":"Update","info":"","x":90,"y":160,"wires":[]},{"id":"847d3bfd.543e48","type":"debug","z":"b802bc0a.4c4e6","name":"order Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":260,"wires":[]},{"id":"fe382818.0ebf88","type":"http in","z":"b802bc0a.4c4e6","name":"","url":"/orders/:order_id","method":"put","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["847d3bfd.543e48","611575b5.da6dcc"]]},{"id":"b1eb3397.aa4fa","type":"function","z":"b802bc0a.4c4e6","name":"parse site_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload.app_id= ObjectId(msg.payload.app_id);\nmsg.payload._id = ObjectId(msg.payload._id);\nmsg.payload.site_id= ObjectId(msg.payload.site_id);\n\n\nmsg.payload=[\n    {_id:msg.payload._id},\n    msg.payload\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["5e1a2e24.340aa","dc5a3667.7a5e38"]]},{"id":"5e1a2e24.340aa","type":"debug","z":"b802bc0a.4c4e6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":180,"wires":[]},{"id":"dc5a3667.7a5e38","type":"mongodb3 in","z":"b802bc0a.4c4e6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_orders","operation":"findOneAndReplace","x":920,"y":220,"wires":[["18dbc536.1e5cfb","a3532cd0.02288"]]},{"id":"18dbc536.1e5cfb","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"200","headers":{},"x":1180,"y":220,"wires":[]},{"id":"a3532cd0.02288","type":"debug","z":"b802bc0a.4c4e6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":180,"wires":[]},{"id":"611575b5.da6dcc","type":"json-schema-validator","z":"b802bc0a.4c4e6","name":"validate order update","func":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"app_id\":{\n\t\t    \"type\":\"string\",\n\t\t    \"minLength\": 24,\n\t\t    \"maxLength\": 24\n\t\t},\n\t\t\"type\":{\n\t\t    \"type\":\"string\",\n\t\t    \"enum\":[\"train\",\"filter\",\"test\"]\n\t\t},\n\t\t\"ordered\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"start\":{\n\t\t    \"type\":\"number\"\n\t\t},\n\t\t\"finished\":{\n\t\t    \"type\":\"number\"\n\t\t}\n\t},\n  \"required\": [\"app_id\",\"ordered\",\"type\",\"start\",\"finished\"]\n}","x":420,"y":220,"wires":[["b1eb3397.aa4fa"]]},{"id":"bd083afe.defd38","type":"comment","z":"b802bc0a.4c4e6","name":"Deletion","info":"","x":100,"y":300,"wires":[]},{"id":"657bfb5.8ee5f04","type":"debug","z":"b802bc0a.4c4e6","name":"series Update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":320,"wires":[]},{"id":"8ce78a6f.e3bd88","type":"http in","z":"b802bc0a.4c4e6","name":"","url":"/apps/:app_id/orders/:order_id","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":360,"wires":[["657bfb5.8ee5f04","4a402582.966a1c"]]},{"id":"4a402582.966a1c","type":"function","z":"b802bc0a.4c4e6","name":"parse order_id","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload={\n    \"_id\":ObjectId(msg.req.params.order_id),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["e082a44c.6a4f18","d93118e8.0e67c8"]]},{"id":"e082a44c.6a4f18","type":"debug","z":"b802bc0a.4c4e6","name":"Site_id_parsing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":320,"wires":[]},{"id":"d93118e8.0e67c8","type":"mongodb3 in","z":"b802bc0a.4c4e6","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"","collection":"_orders","operation":"findOneAndDelete","x":700,"y":360,"wires":[["5ba536c4.d187c8","ca59cc91.d0ee"]]},{"id":"5ba536c4.d187c8","type":"http response","z":"b802bc0a.4c4e6","name":"","statusCode":"200","headers":{},"x":940,"y":360,"wires":[]},{"id":"ca59cc91.d0ee","type":"debug","z":"b802bc0a.4c4e6","name":"out of DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":320,"wires":[]},{"id":"689d4f95.383eb","type":"comment","z":"3bbde011.0d963","name":"Data Insertion from device","info":"","x":170,"y":200,"wires":[]},{"id":"3bafaf95.3471c","type":"http in","z":"3bbde011.0d963","name":"","url":"/apps/:app_id/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":420,"wires":[["1b46c984.5ad096","3dff73dd.32ad7c"]]},{"id":"6308082.5f060f8","type":"comment","z":"3bbde011.0d963","name":"Retrieve data from app's set","info":"","x":180,"y":380,"wires":[]},{"id":"1b46c984.5ad096","type":"function","z":"3bbde011.0d963","name":"get app","func":"var ObjectId = global.get('ObjectId');\n\nmsg.payload ={\n        _id : ObjectId(msg.req.params.app_id)\n    };\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["55e97c65.441014"]]},{"id":"55e97c65.441014","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get app","collection":"_apps","operation":"findOne","x":760,"y":420,"wires":[["ae255bf7.f0bb98","7d06ae03.09e3a"]]},{"id":"ae255bf7.f0bb98","type":"debug","z":"3bbde011.0d963","name":"app","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":380,"wires":[]},{"id":"3dff73dd.32ad7c","type":"debug","z":"3bbde011.0d963","name":"get app data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":380,"wires":[]},{"id":"7d06ae03.09e3a","type":"function","z":"3bbde011.0d963","name":"save app","func":"var ObjectId = global.get('ObjectId');\nmsg.app = Object.assign({},msg.payload);\nmsg.payload ={\n        _id : ObjectId(msg.payload.algoritm_id)\n    };\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":420,"wires":[["55280375.ea6d4c"]]},{"id":"fe67736f.ba6f6","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get sets","collection":"_series","operation":"find.toArray","x":1480,"y":420,"wires":[["14f72090.fbc66f","3b88955e.8b83ca"]]},{"id":"14f72090.fbc66f","type":"debug","z":"3bbde011.0d963","name":"sets","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":360,"wires":[]},{"id":"3b88955e.8b83ca","type":"function","z":"3bbde011.0d963","name":"get Series","func":"var ObjectId = global.get('ObjectId');\nSeries=[];\nmsg.payload = Object.assign([],msg.payload);\nmsg.payload.forEach((set) =>{\n    set.series.forEach((serie)=>{\n        Series.push(ObjectId(serie));\n    });\n});\nmsg.payload ={\n        _id :{ $in:Series}\n    };\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":620,"wires":[["bb6be135.53791"]]},{"id":"e3a06cf3.65fda","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get test data","collection":"_data","operation":"find.toArray","x":710,"y":620,"wires":[["ef7b82ea.53114","4e4e63af.fa25ac"]]},{"id":"bb6be135.53791","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get series","collection":"_series","operation":"find.toArray","x":380,"y":620,"wires":[["98c4c86e.3f0928","915d6f01.90586"]]},{"id":"98c4c86e.3f0928","type":"function","z":"3bbde011.0d963","name":"get data","func":"var ObjectId = global.get('ObjectId');\ntrainPOIs=[];\ntestPOIs=[];\nmsg.testSeries = [];\nmsg.payload = Object.assign([],msg.payload);\nmsg.payload.forEach((serie) =>{\n    let arr =testPOIs;\n    if(serie.type === \"train\"){\n        arr = trainPOIs;\n    }else{\n        msg.testSeries.push(serie);\n    }\n    serie.pois.forEach((poi)=>{\n        arr.push(ObjectId(poi));\n    });\n});\nmsg.trainPOIs = trainPOIs;\nmsg.testPOIs = testPOIs;\nmsg.payload ={\n        poi_id :{ $in:testPOIs}\n    };\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["e3a06cf3.65fda"]]},{"id":"ef7b82ea.53114","type":"function","z":"3bbde011.0d963","name":"get  train data","func":"var ObjectId = global.get('ObjectId');\nmsg.data = {test: Object.assign([],msg.payload)};\nmsg.payload ={\n        poi_id :{ $in:msg.trainPOIs}\n    };\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":620,"wires":[["885ef3eb.5263c"]]},{"id":"885ef3eb.5263c","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get train data","collection":"_data","operation":"find.toArray","x":1030,"y":620,"wires":[["8ca0e500.605ec8","1f32f9d2.a32496"]]},{"id":"8ca0e500.605ec8","type":"function","z":"3bbde011.0d963","name":"get POIS","func":"var ObjectId = global.get('ObjectId');\nmsg.data.train = Object.assign([],msg.payload);\nlet POIs = Object.assign([],msg.trainPOIs);\nPOIs.push(...msg.testPOIs);\nmsg.payload ={\n    _id: { \"$in\": POIs}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":620,"wires":[["1039b648.33aa0a"]]},{"id":"eead1d07.2c29","type":"http in","z":"3bbde011.0d963","name":"","url":"/nexttrain","method":"get","upload":false,"swaggerDoc":"","x":130,"y":500,"wires":[["97cd8c3c.611ed","6be15143.daf3a"]]},{"id":"97cd8c3c.611ed","type":"function","z":"3bbde011.0d963","name":"","func":"msg.payload ={start:undefined};\nreturn msg","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["339789cf.dcd8b6"]]},{"id":"339789cf.dcd8b6","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get order","collection":"_orders","operation":"findOne","x":400,"y":500,"wires":[["5a781b1e.0b6f64","7b76fbb5.3fab84"]]},{"id":"5a781b1e.0b6f64","type":"function","z":"3bbde011.0d963","name":"get app","func":"var ObjectId = global.get('ObjectId');\nmsg.order = msg.payload;\nmsg.payload ={\n        _id : ObjectId(msg.payload.app_id)\n    };\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["55e97c65.441014"]]},{"id":"846ce892.9c67e8","type":"function","z":"3bbde011.0d963","name":"get sets","func":"var ObjectId = global.get('ObjectId');\nmsg.algoritm = Object.assign({},msg.payload);\n\nmsg.payload ={\n        _id :{ $in:[ObjectId(msg.app.train_set),ObjectId(msg.app.test_set)]}\n    };\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":420,"wires":[["fe67736f.ba6f6"]]},{"id":"55280375.ea6d4c","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get algoritm","collection":"_algoritms","operation":"findOne","x":1150,"y":420,"wires":[["846ce892.9c67e8","82e1223d.011ca"]]},{"id":"1039b648.33aa0a","type":"mongodb3 in","z":"3bbde011.0d963","service":"_ext_","configNode":"d91c19cd.01a2c8","name":"get pois","collection":"_pois","operation":"find.toArray","x":1320,"y":620,"wires":[["87936c74.1c284","41db6ebb.3bb7d"]]},{"id":"87936c74.1c284","type":"function","z":"3bbde011.0d963","name":"get POIS","func":"var ObjectId = global.get('ObjectId');\nmsg.pois = Object.assign([],msg.payload);\nmsg.payload ={\n    pois:msg.pois,\n    data:msg.data,\n    algoritm:msg.algoritm,\n    app:msg.app,\n    order:msg.order,\n    testSeries:msg.testSeries,\n};\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":620,"wires":[["b79716c5.196658","887b4049.361ec"]]},{"id":"b79716c5.196658","type":"http response","z":"3bbde011.0d963","name":"","statusCode":"200","headers":{},"x":1600,"y":620,"wires":[]},{"id":"82e1223d.011ca","type":"debug","z":"3bbde011.0d963","name":"algoritm","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":380,"wires":[]},{"id":"915d6f01.90586","type":"debug","z":"3bbde011.0d963","name":"series","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":580,"wires":[]},{"id":"4e4e63af.fa25ac","type":"debug","z":"3bbde011.0d963","name":"test data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":580,"wires":[]},{"id":"1f32f9d2.a32496","type":"debug","z":"3bbde011.0d963","name":"train data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":580,"wires":[]},{"id":"41db6ebb.3bb7d","type":"debug","z":"3bbde011.0d963","name":"pois","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1450,"y":580,"wires":[]},{"id":"7b76fbb5.3fab84","type":"debug","z":"3bbde011.0d963","name":"order","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":460,"wires":[]},{"id":"887b4049.361ec","type":"debug","z":"3bbde011.0d963","name":"data response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1620,"y":580,"wires":[]},{"id":"6be15143.daf3a","type":"debug","z":"3bbde011.0d963","name":"get next train","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":460,"wires":[]}]